* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.counter-text {
    font-size: 15rem;
    margin-bottom: 3rem;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    background: coral;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    color: white;
    border-radius: 50rem;

    transition: all .5s;
}

.btn:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
}